absl-py==2.3.1
acme==4.2.0
aiodns==3.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp_socks==0.10.1
aiosignal==1.4.0
alabaster==1.0.0
apparmor==4.1.1
argcomplete==3.6.2
asgiref==3.9.1
asn1crypto==1.5.1
asttokens==3.0.0
atomicwrites==1.4.1
attrs==25.3.0
autocommand==2.2.2
babel==2.17.0
beautifulsoup4==4.13.5
bokeh==3.7.2
Brlapi==0.8.6
Brotli==1.1.0
build==1.3.0
certbot==4.2.0
certbot-nginx==4.2.0
certifi==2025.8.3
certomancer==0.13.0
certomancer-csc-dummy==0.4.1
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
click-default-group==1.2.4
click-log==0.4.0
cockpit @ file:///build/cockpit/src/cockpit-345/tmp/wheel/cockpit-345-py3-none-any.whl#sha256=db6a0d77ed4bba2dc41c8c18d7e4c351c527ff875ebb3bbe4348e70a5c755bbd
colorama==0.4.6
ConfigArgParse==1.5.5
configobj==5.0.9
contourpy==1.3.3
coverage==7.10.6
cryptography==45.0.6
cssselect2==0.8.0
cycler==0.12.1
Cython==3.1.3
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
Django==5.1.11
docformatter==1.7.7
docutils==0.21.2
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.19.1
flit_core==3.12.0
fonttools==4.59.2
freezegun==1.5.5
frozenlist==1.7.0
gps==3.26.1
html5lib==1.1
humanize==4.13.0
icalendar==6.3.1
idna==3.10
imagesize==1.4.1
inflect==7.5.0
iniconfig==2.1.0
installer==0.7.0
ipython==9.5.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
josepy==2.1.0
Js2Py==0.75
jsonpickle==3.3.0
keyring==25.6.0
kiwisolver==1.4.7
lark==1.2.2
legacy-cgi==2.6.3
LibAppArmor==4.1.1
libfdt==1.7.2
libvirt-python==11.7.0
louis==3.34.0
lxml==6.0.1
Mako==1.3.10.dev0
Markdown==3.8.2
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mock==5.2.0
more-itertools==10.8.0
multidict==6.6.4
narwhals==2.0.1
netsnmp-python==1.0a1
networkx==3.5
nftables==0.1
numpy==2.3.2
oscrypto==1.3.0
packaging==25.0
pandas==2.3.1
parsedatetime==2.6
parso==0.8.5
pexpect==4.9.0
pillow==11.3.0
pipx==1.7.1
pkgconfig==1.5.5
platformdirs==4.4.0
plotly==6.2.0
pluggy==1.6.0
poetry-core==2.1.3
pooch==1.8.2
prompt_toolkit==3.0.52
propcache==0.3.2
psutil==7.0.0
psycopg==3.2.9
psycopg-c==3.2.9
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
pycairo==1.28.0
pycares==4.10.0
pycountry==24.6.1
pycparser==2.22
Pygments==2.19.2
PyGObject==3.52.3
pyhanko-certvalidator==0.26.8
pyhanko-suite==0.0.0
pyjsparser==2.7.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
pypdf==6.0.0
pypng==0.20250521.0
pyproject_hooks==1.2.0
pyRFC3339==1.1
pytest==8.4.1
pytest-aiohttp==1.0.5
pytest-asyncio==0.26.0
pytest-benchmark==4.0.0
pytest-cov==6.1.1
python-bidi==0.6.6
python-dateutil==2.9.0
python-pae==0.1.0
python-pkcs11==0.8.1
python-socks==2.7.2
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.2
qrcode==8.2
Reflector==2023.6.28.0.36.1
reportlab==4.2.2
requests==2.32.5
requests-mock==1.12.1
requests-toolbelt==1.0.0
roman-numerals-py==3.1.0
rpm==4.20.1
scikit-build==0.18.1
scipy==1.16.1
seaborn==0.13.2
SecretStorage==3.3.3
setproctitle==1.3.6
setuptools==80.9.0
setuptools-scm==9.2.0
shtab==1.7.2
six==1.17.0
smbus==1.1
snowballstemmer==2.2.0
soupsieve==2.8
speedtest-cli==2.1.3
Sphinx==8.2.3
sphinx_rtd_theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
stack_data==0.6.3
svglib==1.5.1
TBB==0.2
termcolor==3.1.0
tinycss2==1.4.0
tldr==3.4.1
todoman==4.6.0
tomli==2.2.1
toposort==1.10
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typeguard==4.4.4
typing_extensions==4.15.0
tzlocal==5.3.1
ufw==0.36.2
uharfbuzz==0.51.3
untokenize==0.1.1
uritools==5.0.0
urllib3==2.5.0
urwid==3.0.2
userpath==1.9.2
validate==5.0.9
virtualenv==20.34.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
xsdata==25.4
xyzservices==2025.4.0
yarl==1.20.1
yt-dlp==2025.8.27
